In [1]:
print("Hello World!")

Hello World!

In [2]:
if 7>3:
    print("7 is greater than 3.")

7 is greater than 3.

In [3]:
# this is comment
print("Hello everyone!") # it is also a comment

Hello everyone!

In [5]:
x = str(2)    # x will be '2'
y = int(3)    # y will be 3
z = float(5)  # z will be 5.0
print(x)
print(y)
print(z)

2
3
5.0

In [7]:
my_variable_name = "Jesus"
print(my_variable_name)

Jesus

In [9]:
x, y, z = "Apple", "Banana", "Cherry"
print(x)
print(y)
print(z)
x = y = z = "Apple"

print(x)
print(y)
print(z)

Apple
Banana
Cherry
Apple
Apple
Apple

In [10]:
fruits = ["apple", "banana", "orange","pinapple"]
x, y, z ,a= fruits
print(x)
print(y)
print(z)
print(a)

apple
banana
orange
pinapple

In [12]:
x = "Python"
y = "is"
z = "good"
print(x, y, z)

x = "Python "
y = "is "
z = "good"
print(x + y + z)

Python is good
Python is good

In [13]:
number = 1
def fun(a):
    number=2
    print(a+number) # global variable

print(number)

fun(2)

1
4

In [15]:
def a():
    global num 
    num=4
    print(num) 
a()
print(num)

4
4

In [18]:
a=4
print(type(a))
type(a)

<class 'int'>

int

In [20]:
x = dict(name="Jesus", age=18)
print(x)
print(type(x))

{'name': 'Jesus', 'age': 18}
<class 'dict'>

In [21]:
x = 2
y = 44422222554887711.3
z = '-3255522'

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [22]:
x = str("a1") # x will be 'a1'
y = int(3.3)    # y will be '3'
z = float(4)  # z will be '4.0'
print(x , y ,z)

a1 3 4.0

In [23]:
print(x,y,z)

a1 3 4.0